<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>pokedex</title>
        <meta name = "viewport" content="width = device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel ="stylesheet">
    </head>
 
    <body>
        <div class="container">
            <a href="/"><h1>My Pokedex</h1></a>
            {% block content %}{% endblock %}
            <hr>
            <div class = "text-center">
                Copyright wolf 2019
            </div>
        </div> 
    </body>
</html>